@model SubProgramBenefitModel

@{
    Layout = "_AdminPopupLayout";
    ViewBag.PageTitle = T("Admin.ISDK.Filuet.Theme.FiluetHerbalife.SubProgramBenefit.Edit").Text;
}

    <form asp-controller="Category" asp-action="SubProgramBenefitEditPopup"
            asp-route-categoryId="@Context.Request.Query["categoryId"]"
            asp-route-languageId="@Context.Request.Query["languageId"]"
          asp-route-btnId="@Context.Request.Query["btnId"]"
          asp-route-formId="@Context.Request.Query["formId"]">
        <section class="content">
            <div class="container-fluid">
                <div class="content-header clearfix">
                    <h1 class="float-left">
                        @T("Admin.ISDK.Filuet.Theme.FiluetHerbalife.SubProgramBenefit.Edit")
                    </h1>
                </div>
                @await Html.PartialAsync("_CreateOrUpdateSubProgramBenefit", Model)
                </div>
            </section>
    </form>