@model CustomerNavigationModel
<div class="categories">
    <div class="title">@T("Account.Navigation")</div>

    <div class="items">
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.AccountNavigationBefore, additionalData = Model })
        @foreach (var item in Model.CustomerNavigationItems)
        {
            <div>
                <a class="@item.ItemClass @(Model.SelectedTab == item.Tab ? "active" : string.Empty)"
                   href="@Url.RouteUrl(item.RouteName)">
                    @(item.Title)
                </a>
            </div>
        }
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.AccountNavigationAfter, additionalData = Model })
    </div>
</div>