@model FiluetHerbalifeSocialModel

<div class="socials">

    <div class="name">
        <img data-src="@Url.Content("~/Themes/FiluetHerbalife/Content/images/herbalife_logo.svg")" alt="" class="lozad">
    </div>

    <div class="items">
        <a href="@Model.FacebookLink" target="_blank" rel="noopener nofollow">
            <img src="@Url.Content("~/Themes/FiluetHerbalife/Content/images/ic_facebook.svg")" alt="">
        </a>

        <a href="@Model.YoutubeLink" target="_blank" rel="noopener nofollow">
            <img src="@Url.Content("~/Themes/FiluetHerbalife/Content/images/ic_youtube.svg")" alt="">
        </a>

        <a href="@Model.InstagramLink" target="_blank" rel="noopener nofollow">
            <img src="@Url.Content("~/Themes/FiluetHerbalife/Content/images/ic_instagram.svg")" alt="">
        </a>
    </div>
</div>

<div class="socials">
    <div class="name">
        <img data-src="@Url.Content("~/Themes/FiluetHerbalife/Content/images/filuet_logo.svg")" alt="" class="lozad">
    </div>

    <div class="items">
        <a href="@Model.FiluetLinkedinLink" target="_blank" rel="noopener nofollow">
            <img src="@Url.Content("~/Themes/FiluetHerbalife/Content/images/ic_linkedin.svg")" alt="">
        </a>

        <a href="@Model.FiluetInstagramLink" target="_blank" rel="noopener nofollow">
            <img src="@Url.Content("~/Themes/FiluetHerbalife/Content/images/ic_instagram.svg")" alt="">
        </a>

        <a href="@Model.FiluetFacebookLink" target="_blank" rel="noopener nofollow">
            <img src="@Url.Content("~/Themes/FiluetHerbalife/Content/images/ic_facebook.svg")" alt="">
        </a>

    </div>
</div>