@model ProgramSubCategoryModel

@if(!string.IsNullOrEmpty(Model.Name) && !string.IsNullOrEmpty(Model.Title) && !string.IsNullOrEmpty(Model.Slogan)
   && !string.IsNullOrEmpty(Model.ProgramTypeName) && !string.IsNullOrEmpty(Model.ImageSrc)
   && !string.IsNullOrEmpty(Model.SecondProgramTypeName) && !string.IsNullOrEmpty(Model.SecondProgramTypeRef)
   && !string.IsNullOrEmpty(Model.ThirdProgramTypeName) && !string.IsNullOrEmpty(Model.ThirdProgramTypeRef))
{
<section class="program_type_head block">
    <div class="data">
        <h1 class="name"><span class="color@(Model.ProgramTypeId)">@Model.Name</span> @Html.Raw(Model.Title)</h1>

        <div class="slogan color@(Model.ProgramTypeId)">@Html.Raw(Model.Slogan)</div>

        <div class="desc">@Html.Raw(Model.Description)</div>

        <div class="download_link">
            <a href="@Model.DownloadLink" target="_blank">
                <svg class="icon"><use xlink:href="@Url.Content("~/Themes/FiluetHerbalife/Content/images/sprite.svg#ic_download")"></use></svg>
                <span>@T("ISDK.Filuet.Theme.FiluetHerbalife.Category.DownloadProgram")</span>
            </a>
        </div>
    </div>

    <div class="types">
        <div class="main">
            <div class="type type@(Model.ProgramTypeId)">
                <div class="head">
                    <div class="name">@Model.ProgramTypeName</div>

                    <div class="thumb">
                        <img data-src="@Model.ImageSrc" alt="" class="lozad">
                    </div>

                    <img src="@Url.Content($"~/Themes/FiluetHerbalife/Content/images/bg_type{Model.ProgramTypeId}_hover.png")" alt="" class="bg">
                </div>
            </div>
        </div>

        <div class="other">
            <a href="@Model.SecondProgramTypeRef" class="type type@(Model.SecondProgramTypeId)">
                <span class="name">@Model.SecondProgramTypeName</span>

                <span class="thumb">
                    <img data-src="@Model.SecondProgramImgRef" alt="" class="lozad">
                </span>

                <img src="@Url.Content($"~/Themes/FiluetHerbalife/Content/images/bg_type{Model.SecondProgramTypeId}_mini.png")" alt="" class="bg">
                <img src="@Url.Content($"~/Themes/FiluetHerbalife/Content/images/bg_type{Model.SecondProgramTypeId}_hover_mini.png")" alt="" class="bg">
            </a>

            <a href="@Model.ThirdProgramTypeRef" class="type type@(Model.ThirdProgramTypeId)">
                <span class="name">@Model.ThirdProgramTypeName</span>

                <span class="thumb">
                    <img data-src="@Model.ThirdProgramImgRef" alt="" class="lozad">
                </span>

                <img src="@Url.Content($"~/Themes/FiluetHerbalife/Content/images/bg_type{Model.ThirdProgramTypeId}_mini.png")" alt="" class="bg">
                <img src="@Url.Content($"~/Themes/FiluetHerbalife/Content/images/bg_type{Model.ThirdProgramTypeId}_hover_mini.png")" alt="" class="bg">
            </a>
        </div>
    </div>
</section>
}

@if (Model.ProgramBenefits.Count > 0)
{
    <section class="program_benefits block">
        <div class="block_head">
            <div class="title">@T("ISDK.Filuet.Theme.FiluetHerbalife.Program.SubCategory.ProgramBenefits")</div>
        </div>

        <div class="row">
            @foreach (var ProgramBenefit in Model.ProgramBenefits)
            {
                if (!string.IsNullOrEmpty(ProgramBenefit.Name) && !string.IsNullOrEmpty(ProgramBenefit.Description))
                {
                    <div class="item color@(Model.ProgramTypeId)">
                        <div class="name">@Html.Raw(ProgramBenefit.Name)</div>

                        <div class="desc">@Html.Raw(ProgramBenefit.Description)</div>
                    </div>
                }
            }
        </div>
        @if(!string.IsNullOrEmpty(Model.Footnote))
        {
            <div class="program_type footnote">
                @Html.Raw(Model.Footnote)
            </div>
        }
    </section>
}