@model PriceDtoAddModel

@{
    var showTour = ViewBag.ShowTour ?? false;
    var customer = await workContext.GetCurrentCustomerAsync();
    const string hidePrices = "Prices";
    var hidePricesBlock = showTour ? false : await genericAttributeService.GetAttributeAsync<bool>(customer, hidePrices);
}

<form asp-controller="DeliveryAdmin" asp-action="PriceCreate" method="post">
     <input type="hidden" asp-for="@Model.LanguageId" />
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Plugins.ShippingMethods.Delivery.PriceDto.AddNew")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-controller="Config" asp-action="Configure">@T("Plugins.ShippingMethods.Delivery.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <nop-card asp-name="Prices-info" asp-icon="fas fa-info" asp-title="@T("Plugins.ShippingMethods.Delivery.Prices")" asp-hide-block-attribute-name="@hidePrices" asp-hide="@hidePricesBlock" asp-advanced="false">
                     <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="@Model.DeliveryCityId" />
                            </div>
                            <div class="col-md-9">
                                <nop-select asp-for="@Model.DeliveryCityId" asp-items="@Model.AvailableDeliveryCityId" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="@Model.DeliveryOperatorId" />
                            </div>
                            <div class="col-md-9">
                                <nop-select asp-for="@Model.DeliveryOperatorId" asp-items="@Model.AvailableOperatorId" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="@Model.DeliveryTypeId" />
                            </div>
                            <div class="col-md-9">
                                <nop-select asp-for="@Model.DeliveryTypeId" asp-items="@Model.AvailableTypeId" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="@Model.DeliveryPrise" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="@Model.DeliveryPrise" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="@Model.MinCriterionValue" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="@Model.MinCriterionValue" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="@Model.MaxCriterionValue" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="@Model.MaxCriterionValue" />
                            </div>
                        </div>
                     </div>
                </nop-card>
            </div>
        </div>
    </section>
</form>