@model CategoryNavigationModel
@functions {
    bool BreadCrumbContainsCurrentCategoryId(CategorySimpleModel category)
    {
        if (Model.CurrentCategoryId == 0)
            return false;

        if (category.Id == Model.CurrentCategoryId)
            return true;

        foreach (var subCategory in category.SubCategories)
        {
            if (BreadCrumbContainsCurrentCategoryId(subCategory))
            {
                return true;
            }
        }

        return false;
    }

    void CategoryLine(CategoryNavigationModel.CategoryLineModel lineModel, bool isProgramm, ref int counter)
    {
        var active = lineModel.Category.Id == lineModel.CurrentCategoryId || lineModel.Category.SubCategories.Count(BreadCrumbContainsCurrentCategoryId) > 0;
        var last = lineModel.Category.Id == lineModel.CurrentCategoryId;
        var liClass = active ? "active" : "";

        <a class="@liClass" href="@Url.RouteUrl("Category", new {SeName = lineModel.Category.SeName})">

            @if (isProgramm && !lineModel.Category.SubCategories.Any())
            {
                counter++;
                <svg class="icon">
                    <use xlink:href="@Url.Content($"~/Themes/FiluetHerbalife/Content/images/sprite.svg#ic_categories_type{counter}")"></use>
                </svg>
            }
            else
            {
                counter = 0;
            }

            @lineModel.Category.Name

            @if (lineModel.Category.NumberOfProducts.HasValue)
            {
                <text> @T("Categories.TotalProducts", lineModel.Category.NumberOfProducts.Value)</text>
            }
        </a>

        if (lineModel.Category.Id == lineModel.CurrentCategoryId ||
            lineModel.Category.SubCategories.Count(BreadCrumbContainsCurrentCategoryId) > 0)
        {
            if (lineModel.Category.SubCategories.Count > 0)
            {
                <div class="sub">
                    @foreach (var subCategory in lineModel.Category.SubCategories)
                    {
                        var categoryLineModel = new CategoryNavigationModel.CategoryLineModel
                        {
                            CurrentCategoryId = lineModel.CurrentCategoryId,
                            Category = subCategory
                        };
                        CategoryLine(categoryLineModel, isProgramm, ref counter);
                    }
                </div>
            }
        }
    }
}

@if (Model.Categories.Count > 0)
{
    bool isProgramm = false;
    int counter = 0;

    <div class="categories">
        <div class="title">@T("Categories")</div>
        <div class="items">
            @foreach (var category in Model.Categories)
            {
                if (category.Id == _themeFiluetHerbalifeSettings.CategoryIdForProgramm)
                {
                    isProgramm = true;
                }

                var categoryLineModel = new CategoryNavigationModel.CategoryLineModel
                {
                    CurrentCategoryId = Model.CurrentCategoryId,
                    Category = category
                };
                <div>
                    @{
                        CategoryLine(categoryLineModel, isProgramm, ref counter);
                    }
                </div>
            }
        </div>
    </div>
}